@(examPages:List[ExamPage])
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exam Page 1</title>
</head>
<link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
<script src="/assets/lib/jquery/jquery.min.js"></script>
<script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
<body class="bg-primary">
<div >
    <h2>Basic Sideline Safety Sports Parenting Education</h2>
    <h3>  </h3><br>
    <h4>Good and bad attitudes are contagious.</h4>
    <h3>  </h3><br>
    <h4>Creating a sports culture that values positive attitudes, developement and fairplay</h4>
    <h3>  </h3><br>
    <h4>builds better athletes and clubs. Sideline Sanity Certified organizations teach their </h4>
    <h3>  </h3><br>
    <h4>athletes how to react to unknown situations with confidence both on and off the field.</h4>
    <h3>  </h3><br>
    <h></h>


    <ul>

        <h3>Navigation</h3>
        <li><a href="exampage2"class="text-danger">Next</a></li>
    </ul>

</div>
</body>

</html>