@(examPages:List[ExamPage])
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exam Page 5</title>
</head>
<link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
<script src="/assets/lib/jquery/jquery.min.js"></script>
<script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
<body class="bg-success">

<h3>Only 2 % of hight school athletes receive some athletic scholarships.</h3>
<h3>Fewer than 2% of NCAA athletes end up playing professionally.</h3>
<h3>60% of D1 &D2 athletes receive some level of athletic scholarship but not all are full ride.</h3>
<h3>Because of competition for these scholarships, academics and character are as important as athletic ability!</h3>
<h3></h3>

<ul>

    <h3>Navigation</h3>
    <li><a href="exampage6">Next</a></li>
    <li><a href="exampage4">Previous</a></li>

</ul>

</body>
</html>