@(examPages:List[ExamPage])
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exam Page 3</title>
</head>
<link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/stylesheets/exampage3.css">
<script src="/assets/lib/jquery/jquery.min.js"></script>
<script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
<body>
<h3 class="text-light">70% of kids quit sports by age 13. </h3>
<h3 class="text-light">The number one reason kids give up sports is that it is no longer fun. </h3>
<h3 class="text-light">Give the athlete ownership of their sports goals so they alone control the outcome . </h3>

<ul>

    <h3 class="text-light">Navigation</h3>
    <li><a href="exampage4">Next</a></li>
    <li><a href="exampage2">Previous</a></li>
</ul>


</body>
</html>