@(families:List [Family], family:Family)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Family Page</title>
</head>
<link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/stylesheets/family.css">
<script src="/assets/lib/popper.js/umd/popper.min.js"></script>
<script src="/assets/lib/jquery/jquery.min.js"></script>
<script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>

<body>
<form method="GET">
    @helper.CSRF.formField


    <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Select Family
        </button>
        <ul class="dropdown-menu">
            @for(family<-families){

            <li>
                <a href="/family/@family.getFamilyId">@family.getFamilyName</a>

            </li>
            }


        </ul></div>

        <h1>Family Page</h1>

        <input type="text" value="@family.getFamilyName">
        <input type="text" value="@family.getEmail">


        <h3>Navigation</h3> <ul>
        <li><a href="landing" class="text-white btn btn-link">Home</a></li>
        <li><a href="club" class="text-white btn btn-link">Club</a></li>

        <li><a href="team" class="text-white btn btn-link">Team</a></li>
        <li><a href="athlete" class="text-white btn btn-link">Athlete</a></li>

        <li><input class="text-white btn btn-link btn btn-link" type="submit" name="Take course" value="Take course">
        </li>

        <li><a href="newathlete" class="text-white btn btn-link">Add a Player</a></li>
        </ul>

</form>
</body>
</html>

