<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
</head>
<link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/stylesheets/landing.css">
<script src="/assets/lib/jquery/jquery.min.js"></script>
<script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
<body class="bg-info">
<div class="container-fluid">

    <h1 class="font-weight-bold text-center text-primary "> Sideline Sanity</h1>
    <h1></h1><br>
    <h1></h1>


    <h3 class="text-light text-center">A toddler who falls is not failing, they are learning to run! </h3>


    <div class="row">

        <div class="col-4 text-right">
            <div class="col-6">
                <li><a href="club" class="bg-success text-danger text-right">Club</a></li>
            </div>
            <div class="col-6">
                <li><a href="family/1" class="bg-success text-danger">Sign In</a></li>
            </div>
        </div>
        <br>


        <div class="col-4 text-centered">
            <img class="rounded-circle text-centered" src="/assets/images/7yosoccer.jpg" width="300">
        </div>



        <div class="row-4">

            <div class="col-6">
                <li><a href="team" class="bg-success text-danger text-left">Team</a></li>
            </div>
            <div class="col-6">
                <li><a href="newfamily" class="bg-success text-danger">Add Family</a></li>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4"><textarea class="bg-success text-white" rows="4" cols="40">Teens who participate are less likely to get involved with drugs.</textarea>
        </div>
        <div class="col-4"><textarea class="bg-success text-white" rows="4" cols="40">Because children who aren't allowed to enjoy being athletes, won't continue being athletes.</textarea>
        </div>
        <div class="col-4"><textarea class="bg-success text-white" rows="4" cols="40">Teenage girls who play sports are less likely to get pregnant.  </textarea>
        </div>
    </div>
</div>
</body>
</html>