@(teams:List[Team])
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
<script src="/assets/lib/jquery/jquery.min.js"></script>
<script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
<body>
<table>
    <tr>
        <th>TeamId</th>
        <th>Team Name</th>

    </tr>



    @for(team<- teams){
    <tr>
        <td><a href="/team/@team.getTeamId"></a> @team.getTeamId</td>

        <td>@team.getTeamName</td>

    </tr>

    }
</table>

<ul>

    <h3>Navigation</h3>
    <li><a href="landing">Home</a></li>
    <li><a href="club">Club</a></li>
    <li><a href="family">Family</a></li>
    <li><a href="team">Team</a></li>
</ul>
</body>
</html>